spring:
  datasource:
    url: jdbc:tc:postgresql:17:///travel_companion
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
